<h2>Estatísticas dos orçamentos</h2>
<table border="2">
    <thead>
        <tr>
            <th>Quantidade de orçamentos</th>
            <th>Orçamento com maior custo</th>
            <th>Orçamento com menor custo</th>
            <th>Média do custo total dos orçamentos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ quantidade }} orçamento(s).</td>
            <td>{{orcamento_maior_custo.cliente.nome}},
                    R$ {{orcamento_maior_custo.custo_total}},
                    {{ orcamento_maior_custo.data_hora }}.</td>
            <td>{{orcamento_menor_custo.cliente.nome}},
                    R$ {{orcamento_menor_custo.custo_total}},
                    {{ orcamento_menor_custo.data_hora }}.</td>
            <td>R$ {{ media_custo_total }}.</td>
        </tr>
    </tbody>
</table>

